<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row bg-success">
            <div class="col-md-offset-2">
                <h1>List of study questions you haven't gotten yet</h1>
                <h2> Study these then below, then there is a link to the quiz. </h2>
            </div>
        </div>    
        <div class="row bg-info">
            <table class="table table-hover">
                <tr>
                    <th>Question Title</th>
                    <th>Question Format</th>
                    <th>Question Text</th>
                    <th>Answered Correctly</th>
                    <th>Question Answer/comment</th>
                    <th>Edit Question</th>
                    <th>Delete Question</th>
                </tr>
            <% @questions.each do |q| %>
                <tr>
                    <td><%= q.title %>
                    <% if q.questionformat == 1 %>
                        <td>  True or False </td>
                    <% elsif q.questionformat == 2 %>
                        <td> Multiple Choice </td>
                    <% elsif q.questionformat ==3 %>
                        <td> Fill in the Blank</td>
                    <% end %>
                    <td><%= q.body %></td>
                    <% if q.correct == true %>
                        <td>You got it right!</td>
                    <% elsif q.correct == false %>
                        <td>Not yet. Keep studying!!</td>
                    <% end %>    
                        <td><%= q.answercomment %></td>
                        <td><%= link_to "Edit", edit_question_path(:id => q.id) %></td>
                        <td><%= button_to "UNDELETE", question_undelete_path(:id => q.id), :method => :patch, :class => 'btn btn-danger',  data: { confirm: 'Are you sure?' }   %></td>
            </tr>
        <% end %>
    </table>
        </div>
    <div class="row bg-success">
        <div class="col-md-offset-4">
            <p>
                <%= link_to "Try your luck at the quiz!!!", questions_quiz_path %>
            </p>
            <p>
                <%= link_to "Go back to the list of questions you need to study!", questions_path %>
            </p>    
            <p>
                <%= link_to "Go to the list of questions you have already goten right!", questions_completed_path %>
            </p>    
            <p>
                <%= link_to "Add a new question!!!", new_question_path  %>
            </p>
        </div>
    </div>
</div>  